<form id='randomize' action='/videos'>
  <input type='text' name='search' placeholder='search youtube'>
  <input type='submit' value="Randomize">
</form>

<iframe id="player" type="text/html"
        width="640" height="390"
        src="https://www.youtube.com/embed/<%= @video.youtube_id %>"
        frameborder="0"
        style="border: solid 4px #37474F"
></iframe>
